p {
    hyphens: auto; 
	text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    color: whitesmoke;
    text-align: center;
    font-size: 12px;
    width: 100%;
}

.container {
    padding: 25px;
}

h2 {
    text-align: center;
}