<div class="container">
  <h1 class="headertekst">Jibba</h1>
  <div class="endlich">Endlich (Pre-Listening)</div>
  <div class="listen">
    <a
      href="https://soundcloud.com/user-74152219/sets/jibba-endlich-pre-listening/s-X8vsbsfRX69?fbclid=IwAR1vsTCwkR6n-yNcJgdw-de7mn_musj_arf-iqvEubiYBdhU7Pyc0-QWJFg"
      >Jetzt anhören</a
    >
  </div>
  <div>
    <div fxLayoutAlign="center center" fxLayout="row" fxLayout.lt-md="column">
      <div fxLayout="column">
        <p>
          <iframe
            width="100%"
            height="auto"
            max-height="630px"
            src="https://www.youtube.com/embed/270E05A6EOc"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
          ></iframe>
        </p>
        <p>
          <iframe
            width="100%"
            height="auto"
            max-height="630px"
            src="https://www.youtube.com/embed/vAMS7eEARKU"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
          ></iframe>
        </p>
      </div>
      <div fxLayout="column">
        <p>
          <iframe
            width="100%"
            height="auto"
            max-height="630px"
            src="https://www.youtube.com/embed/Jjhct0b2CD8"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
          ></iframe>
        </p>

        <p>
          <iframe
            width="100%"
            height="auto"
            max-height="630px"
            src="https://www.youtube.com/embed/Xls74UmBVwY"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
          ></iframe>
        </p>
      </div>
    </div>
  </div>

  <div fxLayoutAlign="center center" class="impressum-container">
    <a routerLink="/impressum" routerLinkActive="active">Impressum</a>
  </div>
</div>
