/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: "HighTide";
  src: url(./assets/fonts/HighTide/HighTide-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "HighTide-Bold";
  src: url(./assets/fonts/HighTide/HighTide-Bold.ttf) format("truetype");
}

@font-face {
  font-family: "Lakers";
  src: url(./assets/fonts/Lakers/LakersRegular.otf) format("opentype");
}

h1 {
  font-family: "Lakers";
  font-size: 7vw;
  color: rgb(255, 250, 240, 0.9);
}

// html, body, app-root {
//     background-image: url("/assets/img/background.jpg");
//     background-repeat:no-repeat;
//     -webkit-background-size:cover;
//     -moz-background-size:cover;
//     -o-background-size:cover;
//     background-size:cover;
//     background-position:center;
//     background-attachment: fixed;
//     height: 100%;
// }

html,
body,
app-root {
  height: 100%;
}
